@media (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #tela_celular {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-pair {
        display: flex;
        width: 100%;
        max-width: 350px;
        align-items: stretch;
        gap: 20px;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .image-item {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 70px;
        flex-shrink: 0;
    }

    .person-card {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        min-height: 72px;
        width: 100%;
        padding: 6px 24px;
        align-items: center;
        font-family: 'Quattrocento Sans', -apple-system, Roboto, Helvetica, sans-serif;
        font-weight: 400;
        white-space: nowrap;
        justify-content: space-between;
    }

    .person-content {
        align-self: stretch;
        display: flex;
        min-width: 240px;
        margin: auto 0;
        padding-left: 1px;
        align-items: center;
        gap: 12px;
        overflow: hidden;
        justify-content: start;
    }

    .profile-image {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 60px;
        border-radius: 200px;
        align-self: stretch;
        margin: auto 0;
        flex-shrink: 0;
    }

    .person-info {
        align-self: stretch;
        margin: auto 0;
    }

    .person-name {
        color: rgba(16, 24, 40, 1);
        font-size: 24px;
        line-height: 1;
    }

    .person-email {
        color: rgba(102, 112, 133, 1);
        font-size: 20px;
        line-height: 1;
    }
}