@media (max-width: 800px) {
    .tela_celular {
        flex-direction: column;
    }

    #new-contact,
    .marcadores {
        display: none !important;
    }

    details ul {
        position: static;
    }

    .image-pair {
        display: flex;
        width: 100%;
        max-width: 350px;
        align-items: stretch;
        gap: 20px;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .image-item {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 70px;
        flex-shrink: 0;
    }

    #logoutBtnimg{
        height: 30px;
    }

    .person-card {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        min-height: 72px;
        width: 100%;
        padding: 6px 24px;
        align-items: center;
        font-family: 'Quattrocento Sans', -apple-system, Roboto, Helvetica, sans-serif;
        font-weight: 400;
        white-space: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }

    .person-content {
        align-self: stretch;
        display: flex;
        min-width: 240px;
        width: 100%;
        margin: auto 0;
        padding-left: 1px;
        align-items: center;
        gap: 12px;
        overflow: hidden;
        justify-content: start;
    }

    .profile-image {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 65px;
        border-radius: 200px;
        align-self: stretch;
        margin: auto 0;
        flex-shrink: 0;
    }

    .person-info {
        align-self: stretch;
        margin: auto 0;
    }

    .person-name {
        color: rgba(16, 24, 40, 1);
        font-size: 20px;
        line-height: 1;
    }

    .person-email {
        color: rgba(102, 112, 133, 1);
        font-size: 18px;
        line-height: 1;
    }

    #navbar-toggler-btn {
        width: min-content;
    }

    details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    p {
        margin-bottom: 0rem;
    }

    h2{
        margin-top: 1rem;
    }

    summary {
        height: 100%;
    }

    .footer{
        background-color: #151328;
    }

}

@media (max-width: 510px) {
    #navbar_busca .col-8 {
        width: 58.33333333%;
    }

    #form-contato .col-8{
        width: 100%!important;
    }

    #perfil_user{
        display: none!important;
    }
}

@media (max-width: 440px) {
    #profile {
        display: none;
    }

    .navbar-toggler-perfil{
        display: flex!important;
    }
}